body {
  background-color: rgb(215, 210, 191);
}

a {
    color: #e23f93;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: #c81623;
}

#guestbook{
  margin:10px 0px;
  text-align:center;
}

h1 a{
  display:none;
}

.btn{
  margin: 0px 400px;
  height:40px;
  width:140px;
}
@media only screen and (max-width: 768px) {
  .btn {
    margin-left:50%;
    transform:translateX(-50%);
    height: 30px;
    width: 100px;
  }
}

