body {
  background-color: rgb(215, 210, 191);
}

a {
    color: #e23f93;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: #c81623;
}

#guestbook{
  margin:10px 0px;
  text-align:center;
}

h1 a{
  display:none;
}

.btn{
  margin:0 auto;
}
